<div class="container mt-4">
  <h2>Posts</h2>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>User ID</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.content }}</td>
        <td>{{ post.userId }}</td>
      </tr>

      <tr *ngIf="posts.length === 0">
        <td colspan="4" class="text-center">
          No data available
        </td>
      </tr>
    </tbody>
  </table>
</div>
